@font-face {
	font-family: "À±°íµñ330";
	font-style: normal;
	font-weight: 330;
	src: local("À±°íµñ Regular"), local("À±°íµñ-Regular"),
		url("../fonts/À±°íµñ-Regular-330.woff") format("ttf")
}

@font-face {
	font-family: "À±°íµñ330";
	font-style: normal;
	font-weight: 330;
	src: local("À±°íµñ Regular"), local("À±°íµñ-Regular"),
		url("../fonts/À±°íµñ-Regular-330.woff") format("ttf")
}
@font-face {
	font-family: "À±°íµñ330";
	font-style: normal;
	font-weight: 330;
	src: local("À±°íµñ Regular"), local("À±°íµñ-Regular"),
		url("../fonts/À±°íµñ-Regular-330.woff") format("ttf")
}
